@model LibraryManagementSystem.Models.Entity.CATEGORY_TABLE
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<!--Kategori ekleme input alani -- baslangic   deneme amacli css tasarimi
<form class="form-group" method="post">
    <div class="container" id="rcorners1">
        <div style="margin-left:50px">
            <div style="margin-top:20px;width:72%">
                <label><h3 style="font-weight:bold;text-align:center">Category Name</h3></label>
                <input class="form-control" onkeypress="return isNumericKey(event)" type="text" name="NAME" maxlength="20" placeholder="Category Name" required />
            </div>
            <div style="margin-top:15px">
                <button class="btn btn-danger" id="Btn1">Add Category</button>
            </div>
        </div>
    </div>
</form>
<!--Kategori ekleme input alani -- bitis -->
<form class="form-group" method="post" style="margin-top:20px; text-decoration:double">
    <div>
        <label style="margin-top: 10px"> &nbsp; Category Name</label>
        <input class="form-control" style="margin-top:20px" onkeypress="return isNumericKey(event)" type="text" name="NAME" maxlength="25" placeholder="Category Name" required />
    </div>
    <div style="margin-top:20px">
        <button id="defaultBtn" class="btn btn-danger" style="background-color: darkseagreen; margin-bottom: 15px; color:black">Add Category</button>
    </div>
</form>
